#bodyOverrideBootstrap {
  background-color:thistle;
}

#titleDiv {
  background-color: rgb(44, 44, 44);
  color: thistle;
  border-radius: 4px;
}

#taskTableDiv {
  margin-top: 10px;
}

#tableOverrideBootstrap {
  /* border-radius: 4px; */
}

table th {
  color:thistle;
}

table th:first-child {
  border-top-left-radius: 4px;
}

table th:last-child {
  border-top-right-radius: 4px;
}

table tr:last-child td:first-child {
  border-bottom-left-radius: 6px;
}

table tr:last-child td:last-child {
  border-bottom-right-radius: 6px;
}

table td {
  color: thistle;
}
